infrastructure/cloudformation/enhanced-incident-response.yaml
AWSTemplateFormatVersion: '2010-09-09'
Description: 'Enhanced AI-Powered Incident Response System with Multi-Agent Orchestration'

Parameters:
  Environment:
    Type: String
    Default: dev
    AllowedValues: [dev, staging, prod]
    Description: Deployment environment
  
  SenderEmail:
    Type: String
    Description: Email address for SES notifications
    
  TeamsWebhookUrl:
    Type: String
    Description: Microsoft Teams webhook URL for notifications
    NoEcho: true
    
  BedrockKnowledgeBaseId:
    Type: String
    Description: Bedrock Knowledge Base ID
    
  RedisClusterEndpoint:
    Type: String
    Description: ElastiCache Redis cluster endpoint
    Default: ""

Conditions:
  IsProd: !Equals [!Ref Environment, prod]
  HasRedis: !Not [!Equals [!Ref RedisClusterEndpoint, ""]]

Resources:
  # S3 Buckets
  LogsBucket:
    Type: AWS::S3::Bucket
    Properties:
      BucketName: !Sub 'enhanced-incident-logs-${Environment}-${AWS::AccountId}'
      LifecycleConfiguration:
        Rules:
          - Id: LogsLifecycle
            Status: Enabled
            Transitions:
              - TransitionInDays: 30
                StorageClass: STANDARD_IA
              - TransitionInDays: 90
                StorageClass: GLACIER
            ExpirationInDays: 365
      PublicAccessBlockConfiguration:
        BlockPublicAcls: true
        BlockPublicPolicy: true
        IgnorePublicAcls: true
        RestrictPublicBuckets: true
      BucketEncryption:
        ServerSideEncryptionConfiguration:
          - ServerSideEncryptionByDefault:
              SSEAlgorithm: AES256

  KnowledgeBaseBucket:
    Type: AWS::S3::Bucket
    Properties:
      BucketName: !Sub 'enhanced-kb-data-${Environment}-${AWS::AccountId}'
      PublicAccessBlockConfiguration:
        BlockPublicAcls: true
        BlockPublicPolicy: true
        IgnorePublicAcls: true
        RestrictPublicBuckets: true
      BucketEncryption:
        ServerSideEncryptionConfiguration:
          - ServerSideEncryptionByDefault:
              SSEAlgorithm: AES256

  # DynamoDB Tables
  IncidentHistoryTable:
    Type: AWS::DynamoDB::Table
    Properties:
      TableName: !Sub 'enhanced-incident-history-${Environment}'
      BillingMode: ON_DEMAND
      AttributeDefinitions:
        - AttributeName: incident_id
          AttributeType: S
        - AttributeName: service_name
          AttributeType: S
        - AttributeName: timestamp
          AttributeType: S
      KeySchema:
        - AttributeName: incident_id
          KeyType: HASH
      GlobalSecondaryIndexes:
        - IndexName: service-timestamp-index
          KeySchema:
            - AttributeName: service_name
              KeyType: HASH
            - AttributeName: timestamp
              KeyType: RANGE
          Projection:
            ProjectionType: ALL
      TimeToLiveSpecification:
        AttributeName: ttl
        Enabled: true
      PointInTimeRecoverySpecification:
        PointInTimeRecoveryEnabled: !If [IsProd, true, false]

  WebSocketConnectionsTable:
    Type: AWS::DynamoDB::Table
    Properties:
      TableName: !Sub 'enhanced-websocket-connections-${Environment}'
      BillingMode: ON_DEMAND
      AttributeDefinitions:
        - AttributeName: connection_id
          AttributeType: S
      KeySchema:
        - AttributeName: connection_id
          KeyType: HASH
      TimeToLiveSpecification:
        AttributeName: ttl
        Enabled: true

  ApprovalRequestsTable:
    Type: AWS::DynamoDB::Table
    Properties:
      TableName: !Sub 'enhanced-approval-requests-${Environment}'
      BillingMode: ON_DEMAND
      AttributeDefinitions:
        - AttributeName: approval_id
          AttributeType: S
      KeySchema:
        - AttributeName: approval_id
          KeyType: HASH
      TimeToLiveSpecification:
        AttributeName: ttl
        Enabled: true

  # Lambda Execution Role
  LambdaExecutionRole:
    Type: AWS::IAM::Role
    Properties:
      RoleName: !Sub 'EnhancedIncidentResponseLambdaRole-${Environment}'
      AssumeRolePolicyDocument:
        Version: '2012-10-17'
        Statement:
          - Effect: Allow
            Principal:
              Service: lambda.amazonaws.com
            Action: sts:AssumeRole
      ManagedPolicyArns:
        - arn:aws:iam::aws:policy/service-role/AWSLambdaBasicExecutionRole
      Policies:
        - PolicyName: EnhancedIncidentResponsePolicy
          PolicyDocument:
            Version: '2012-10-17'
            Statement:
              - Effect: Allow
                Action:
                  - bedrock:InvokeModel
                  - bedrock:Retrieve
                  - bedrock:InvokeAgent
                Resource: '*'
              - Effect: Allow
                Action:
                  - dynamodb:GetItem
                  - dynamodb:PutItem
                  - dynamodb:UpdateItem
                  - dynamodb:DeleteItem
                  - dynamodb:Query
                  - dynamodb:Scan
                Resource:
                  - !GetAtt IncidentHistoryTable.Arn
                  - !Sub '${IncidentHistoryTable.Arn}/index/*'
                  - !GetAtt WebSocketConnectionsTable.Arn
                  - !GetAtt ApprovalRequestsTable.Arn
              - Effect: Allow
                Action:
                  - s3:GetObject
                  - s3:PutObject
                  - s3:ListBucket
                Resource:
                  - !Sub '${LogsBucket}/*'
                  - !GetAtt LogsBucket.Arn
                  - !Sub '${KnowledgeBaseBucket}/*'
                  - !GetAtt KnowledgeBaseBucket.Arn
              - Effect: Allow
                Action:
                  - states:StartExecution
                  - states:SendTaskSuccess
                  - states:SendTaskFailure
                Resource: '*'
              - Effect: Allow
                Action:
                  - execute-api:ManageConnections
                Resource: !Sub 'arn:aws:execute-api:${AWS::Region}:${AWS::AccountId}:*'
              - Effect: Allow
                Action:
                  - logs:CreateLogGroup
                  - logs:CreateLogStream
                  - logs:PutLogEvents
                  - logs:PutMetricFilter
                Resource: '*'
              - Effect: Allow
                Action:
                  - cloudwatch:PutMetricData
                Resource: '*'
              - Effect: Allow
                Action:
                  - ses:SendEmail
                  - ses:SendRawEmail
                Resource: '*'

  # Lambda Function
  EnhancedIncidentResponseFunction:
    Type: AWS::Lambda::Function
    Properties:
      FunctionName: !Sub 'enhanced-incident-response-${Environment}'
      Runtime: python3.11
      Handler: lambda_functions.lambda_handler
      Role: !GetAtt LambdaExecutionRole.Arn
      Code:
        ZipFile: |
          import json
          def lambda_handler(event, context):
              return {'statusCode': 200, 'body': json.dumps('Placeholder - deploy with actual code')}
      Timeout: 900
      MemorySize: !If [IsProd, 3008, 1024]
      Environment:
        Variables:
          ENVIRONMENT: !Ref Environment
          INCIDENT_HISTORY_TABLE: !Ref IncidentHistoryTable
          WEBSOCKET_CONNECTIONS_TABLE: !Ref WebSocketConnectionsTable
          APPROVAL_REQUESTS_TABLE: !Ref ApprovalRequestsTable
          LOGS_BUCKET: !Ref LogsBucket
          KNOWLEDGE_BASE_BUCKET: !Ref KnowledgeBaseBucket
          BEDROCK_KB_ID: !Ref BedrockKnowledgeBaseId
          TEAMS_WEBHOOK_URL: !Ref TeamsWebhookUrl
          REDIS_ENDPOINT: !Ref RedisClusterEndpoint
          INCIDENT_PROCESSING_STATE_MACHINE_ARN: !Ref IncidentProcessingStateMachine

  # API Gateway REST API
  IncidentResponseApi:
    Type: AWS::ApiGateway::RestApi
    Properties:
      Name: !Sub 'enhanced-incident-response-api-${Environment}'
      Description: Enhanced Incident Response REST API
      EndpointConfiguration:
        Types:
          - REGIONAL

  IncidentResource:
    Type: AWS::ApiGateway::Resource
    Properties:
      RestApiId: !Ref IncidentResponseApi
      ParentId: !GetAtt IncidentResponseApi.RootResourceId
      PathPart: incident

  IncidentPostMethod:
    Type: AWS::ApiGateway::Method
    Properties:
      RestApiId: !Ref IncidentResponseApi
      ResourceId: !Ref IncidentResource
      HttpMethod: POST
      AuthorizationType: AWS_IAM
      Integration:
        Type: AWS_PROXY
        IntegrationHttpMethod: POST
        Uri: !Sub 'arn:aws:apigateway:${AWS::Region}:lambda:path/2015-03-31/functions/${EnhancedIncidentResponseFunction.Arn}/invocations'

  ApiGatewayInvokePermission:
    Type: AWS::Lambda::Permission
    Properties:
      FunctionName: !Ref EnhancedIncidentResponseFunction
      Action: lambda:InvokeFunction
      Principal: apigateway.amazonaws.com
      SourceArn: !Sub '${IncidentResponseApi}/*/POST/incident'

  ApiDeployment:
    Type: AWS::ApiGateway::Deployment
    DependsOn:
      - IncidentPostMethod
    Properties:
      RestApiId: !Ref IncidentResponseApi
      StageName: !Ref Environment

  # WebSocket API
  WebSocketApi:
    Type: AWS::ApiGatewayV2::Api
    Properties:
      Name: !Sub 'enhanced-incident-websocket-${Environment}'
      ProtocolType: WEBSOCKET
      RouteSelectionExpression: $request.body.action

  ConnectRoute:
    Type: AWS::ApiGatewayV2::Route
    Properties:
      ApiId: !Ref WebSocketApi
      RouteKey: $connect
      Target: !Sub 'integrations/${ConnectIntegration}'

  DisconnectRoute:
    Type: AWS::ApiGatewayV2::Route
    Properties:
      ApiId: !Ref WebSocketApi
      RouteKey: $disconnect
      Target: !Sub 'integrations/${DisconnectIntegration}'

  ConnectIntegration:
    Type: AWS::ApiGatewayV2::Integration
    Properties:
      ApiId: !Ref WebSocketApi
      IntegrationType: AWS_PROXY
      IntegrationUri: !Sub 'arn:aws:apigateway:${AWS::Region}:lambda:path/2015-03-31/functions/${EnhancedIncidentResponseFunction.Arn}/invocations'

  DisconnectIntegration:
    Type: AWS::ApiGatewayV2::Integration
    Properties:
      ApiId: !Ref WebSocketApi
      IntegrationType: AWS_PROXY
      IntegrationUri: !Sub 'arn:aws:apigateway:${AWS::Region}:lambda:path/2015-03-31/functions/${EnhancedIncidentResponseFunction.Arn}/invocations'

  WebSocketStage:
    Type: AWS::ApiGatewayV2::Stage
    Properties:
      ApiId: !Ref WebSocketApi
      StageName: !Ref Environment
      AutoDeploy: true

  WebSocketInvokePermission:
    Type: AWS::Lambda::Permission
    Properties:
      FunctionName: !Ref EnhancedIncidentResponseFunction
      Action: lambda:InvokeFunction
      Principal: apigateway.amazonaws.com
      SourceArn: !Sub '${WebSocketApi}/*/*'

  # Step Functions State Machine
  StepFunctionsRole:
    Type: AWS::IAM::Role
    Properties:
      AssumeRolePolicyDocument:
        Version: '2012-10-17'
        Statement:
          - Effect: Allow
            Principal:
              Service: states.amazonaws.com
            Action: sts:AssumeRole
      Policies:
        - PolicyName: StepFunctionsExecutionPolicy
          PolicyDocument:
            Version: '2012-10-17'
            Statement:
              - Effect: Allow
                Action:
                  - lambda:InvokeFunction
                Resource: !GetAtt EnhancedIncidentResponseFunction.Arn

  IncidentProcessingStateMachine:
    Type: AWS::StepFunctions::StateMachine
    Properties:
      StateMachineName: !Sub 'enhanced-incident-processing-${Environment}'
      RoleArn: !GetAtt StepFunctionsRole.Arn
      DefinitionString: !Sub |
        {
          "Comment": "Enhanced Incident Processing Workflow",
          "StartAt": "ProcessIncident",
          "States": {
            "ProcessIncident": {
              "Type": "Task",
              "Resource": "${EnhancedIncidentResponseFunction.Arn}",
              "Parameters": {
                "task_name": "enhanced_orchestration",
                "incident_data.$": "$"
              },
              "Next": "CheckApprovalRequired"
            },
            "CheckApprovalRequired": {
              "Type": "Choice",
              "Choices": [
                {
                  "Variable": "$.requires_approval",
                  "BooleanEquals": true,
                  "Next": "HumanApproval"
                }
              ],
              "Default": "SendNotification"
            },
            "HumanApproval": {
              "Type": "Task",
              "Resource": "arn:aws:states:::lambda:invoke.waitForTaskToken",
              "Parameters": {
                "FunctionName": "${EnhancedIncidentResponseFunction.Arn}",
                "Payload": {
                  "task_name": "human_approval",
                  "task_token.$": "$$.Task.Token",
                  "approval_request.$": "$.approval_request"
                }
              },
              "Next": "SendNotification"
            },
            "SendNotification": {
              "Type": "Task",
              "Resource": "${EnhancedIncidentResponseFunction.Arn}",
              "Parameters": {
                "task_name": "send_notification",
                "incident_result.$": "$"
              },
              "End": true
            }
          }
        }

  # CloudWatch Dashboard
  IncidentResponseDashboard:
    Type: AWS::CloudWatch::Dashboard
    Properties:
      DashboardName: !Sub 'EnhancedIncidentResponse-${Environment}'
      DashboardBody: !Sub |
        {
          "widgets": [
            {
              "type": "metric",
              "x": 0,
              "y": 0,
              "width": 12,
              "height": 6,
              "properties": {
                "metrics": [
                  ["IncidentResponse/Enhanced", "TotalProcessingTime"],
                  [".", "ParallelEfficiencyGain"],
                  [".", "SuccessfulAgents"]
                ],
                "period": 300,
                "stat": "Average",
                "region": "${AWS::Region}",
                "title": "Enhanced System Performance"
              }
            },
            {
              "type": "metric",
              "x": 12,
              "y": 0,
              "width": 12,
              "height": 6,
              "properties": {
                "metrics": [
                  ["AWS/Lambda", "Duration", "FunctionName", "${EnhancedIncidentResponseFunction}"],
                  [".", "Errors", ".", "."],
                  [".", "Invocations", ".", "."]
                ],
                "period": 300,
                "stat": "Sum",
                "region": "${AWS::Region}",
                "title": "Lambda Performance"
              }
            }
          ]
        }

Outputs:
  RestApiUrl:
    Description: REST API Gateway URL
    Value: !Sub 'https://${IncidentResponseApi}.execute-api.${AWS::Region}.amazonaws.com/${Environment}'
    Export:
      Name: !Sub '${AWS::StackName}-RestApiUrl'

  WebSocketUrl:
    Description: WebSocket API Gateway URL
    Value: !Sub 'wss://${WebSocketApi}.execute-api.${AWS::Region}.amazonaws.com/${Environment}'
    Export:
      Name: !Sub '${AWS::StackName}-WebSocketUrl'

  LambdaFunctionArn:
    Description: Lambda Function ARN
    Value: !GetAtt EnhancedIncidentResponseFunction.Arn
    Export:
      Name: !Sub '${AWS::StackName}-LambdaArn'

  StateMachineArn:
    Description: Step Functions State Machine ARN
    Value: !Ref IncidentProcessingStateMachine
    Export:
      Name: !Sub '${AWS::StackName}-StateMachineArn'

  DashboardUrl:
    Description: CloudWatch Dashboard URL
    Value: !Sub 'https://${AWS::Region}.console.aws.amazon.com/cloudwatch/home?region=${AWS::Region}#dashboards:name=${IncidentResponseDashboard}'